@use '@/styles/variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $color-text;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }
}

::placeholder {
    color: lighten($color-text, 20%);
    opacity: 1;
}
