@use 'sass:color';
@use '@/styles/variables' as *;

@font-face {
    font-family: 'Avenir Next';
    src: local('AvenirNextLTPro-Regular'),
        url('@/assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('AvenirNextLTPro-Bold'),
        url('@/assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $color-text;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }
}

::placeholder {
    color: color.adjust($color-text, $lightness: 20%);
    opacity: 1;
}
