:global(*) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:global(body) {
    font-family: 'Work Sans', sans-serif;
    overscroll-behavior: none;
    color: $color-text;
}

.container {
    background-color: $color-primary;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $color-secondary;
    }
}
